USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 16/04/2024 21:39:33 ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[BANGCHAMCONG]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCHAMCONG](
	[maBangChamCong] [nvarchar](20) NOT NULL,
	[maNhanVien] [nvarchar](20) NULL,
	[thangChamCong] [int] NULL,
	[namChamCong] [int] NULL,
	[soNgayLamViec] [int] NULL,
	[soNgayNghi] [int] NULL,
	[soNgayTre] [int] NULL,
	[soGioLamThem] [int] NULL,
	[chiTiet] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBangChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGDANHGIA]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDANHGIA](
	[maDanhGia] [nvarchar](20) NOT NULL,
	[maNhanVien] [nvarchar](20) NOT NULL,
	[nguoiDanhGia] [nvarchar](20) NOT NULL,
	[ngayDanhGia] [date] NOT NULL,
	[diemDanhGia] [float] NULL,
	[xepLoaiDanhGia] [nvarchar](100) NULL,
	[chiTietDanhGia] [nvarchar](300) NULL,
	[loaiDanhGia] [nvarchar](100) NULL,
	[ghiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK__BANGDANH__6B15DD9AEDECB200] PRIMARY KEY CLUSTERED 
(
	[maDanhGia] ASC,
	[maNhanVien] ASC,
	[nguoiDanhGia] ASC,
	[ngayDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAOTUYENDUNG]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOTUYENDUNG](
	[maTuyenDung] [nvarchar](20) NOT NULL,
	[chucVu] [nvarchar](20) NULL,
	[hocVan] [nvarchar](20) NULL,
	[yeuCauGioiTinh] [nvarchar](5) NULL,
	[yeuCauDoTuoi] [nvarchar](5) NULL,
	[soLuongCanTuyen] [int] NULL,
	[hanNopHoSo] [date] NULL,
	[mucLuongToiThieu] [float] NULL,
	[mucLuongToiDa] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maTuyenDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNHOMQUYEN]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHOMQUYEN](
	[maNhomQuyen] [nvarchar](20) NOT NULL,
	[maChucNang] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CHITIETNHOMQUYEN] PRIMARY KEY CLUSTERED 
(
	[maNhomQuyen] ASC,
	[maChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[maChucNang] [nvarchar](20) NOT NULL,
	[tenChucNang] [nvarchar](200) NULL,
 CONSTRAINT [PK_CHUCNANG] PRIMARY KEY CLUSTERED 
(
	[maChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[maChucVu] [nvarchar](20) NOT NULL,
	[tenChucVu] [nvarchar](50) NULL,
	[phuCapChucVu] [float] NULL,
	[ngayNhanChuc] [date] NULL,
 CONSTRAINT [PK__CHUCVU__6E42BCD9575206FA] PRIMARY KEY CLUSTERED 
(
	[maChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMND]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMND](
	[soCMND] [nvarchar](20) NOT NULL,
	[noiCap] [nvarchar](20) NULL,
	[ngayCap] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[soCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONNGUOI]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONNGUOI](
	[CMND] [nvarchar](20) NOT NULL,
	[hoTen] [nvarchar](50) NULL,
	[gioiTinh] [nvarchar](5) NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](20) NULL,
	[danToc] [nvarchar](20) NULL,
	[tonGiao] [nvarchar](20) NULL,
	[email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOTTUYENDUNG]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOTTUYENDUNG](
	[maTuyenDung] [nvarchar](20) NOT NULL,
	[maNhanVien] [nvarchar](20) NOT NULL,
	[ngayTuyenDung] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTuyenDung] ASC,
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONGLAODONG]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONGLAODONG](
	[maHopDong] [nvarchar](20) NOT NULL,
	[tuNgay] [date] NULL,
	[denNgay] [date] NULL,
	[loaiHopDong] [nvarchar](50) NULL,
	[luongCoBan] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[maLuong] [nvarchar](20) NOT NULL,
	[maBangChamCong] [nvarchar](20) NULL,
	[phuCapChucVu] [float] NULL,
	[phuCapKhac] [float] NULL,
	[luongThucTe] [float] NULL,
	[luongThuong] [float] NULL,
	[khoanTruBaoHiem] [float] NULL,
	[khoanTruKhac] [float] NULL,
	[thue] [float] NULL,
	[thucLanh] [float] NULL,
 CONSTRAINT [PK__LUONG__31F4B611E377D9C9] PRIMARY KEY CLUSTERED 
(
	[maLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[maNhanVien] [nvarchar](20) NOT NULL,
	[CMND] [nvarchar](20) NULL,
	[maPhong] [nvarchar](20) NULL,
	[maTrinhDo] [nvarchar](20) NULL,
	[maChucVu] [nvarchar](20) NULL,
	[maHopDong] [nvarchar](20) NULL,
	[ngayBatDauThuViec] [date] NULL,
	[ngayKetThucThuViec] [date] NULL,
	[luongThuViec] [float] NULL,
	[trangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMQUYEN]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMQUYEN](
	[maNhomQuyen] [nvarchar](20) NOT NULL,
	[tenNhomQuyen] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHOMQUYEN] PRIMARY KEY CLUSTERED 
(
	[maNhomQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[maPhong] [nvarchar](20) NOT NULL,
	[tenPhong] [nvarchar](50) NULL,
	[ngayThanhLap] [date] NULL,
	[maTruongPhong] [nvarchar](20) NULL,
 CONSTRAINT [PK__PHONGBAN__4CD55E1062DC3351] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[username] [nvarchar](20) NOT NULL,
	[pass] [nvarchar](20) NULL,
	[maNhomQuyen] [nvarchar](20) NULL,
	[avatar] [nvarchar](40) NULL,
 CONSTRAINT [pk_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGKE]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGKE](
	[maDonVi] [nvarchar](20) NULL,
	[slnvNam1] [int] NULL,
	[slnvNam2] [int] NULL,
	[slnvNam3] [int] NULL,
	[luongTbNam1] [float] NULL,
	[luongTbNam2] [float] NULL,
	[luongTbNam3] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRINHDO]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDO](
	[maTrinhDo] [nvarchar](20) NOT NULL,
	[trinhDoHocVan] [nvarchar](20) NULL,
	[trinhDoChuyenMon] [nvarchar](20) NULL,
	[chuyenNganh] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTrinhDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNGVIEN]    Script Date: 16/04/2024 21:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNGVIEN](
	[maTuyenDung] [nvarchar](20) NULL,
	[maUngVien] [nvarchar](20) NOT NULL,
	[CMND] [nvarchar](20) NULL,
	[mucLuongDeal] [float] NULL,
	[maTrinhDo] [nvarchar](20) NULL,
	[tenChucVu] [nvarchar](200) NULL,
	[trangThai] [nvarchar](30) NULL,
 CONSTRAINT [pk_UNGVIEN] PRIMARY KEY CLUSTERED 
(
	[maUngVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANGCHAMCONG] ([maBangChamCong], [maNhanVien], [thangChamCong], [namChamCong], [soNgayLamViec], [soNgayNghi], [soNgayTre], [soGioLamThem], [chiTiet]) VALUES (N'BCC12021002', N'002', 1, 2021, 30, 1, 1, 1, N'T-1/1/2021,N-4/1/2021,TC-21/1/2021-1,')
INSERT [dbo].[BANGCHAMCONG] ([maBangChamCong], [maNhanVien], [thangChamCong], [namChamCong], [soNgayLamViec], [soNgayNghi], [soNgayTre], [soGioLamThem], [chiTiet]) VALUES (N'BCC12021003', N'003', 1, 2021, 31, 0, 0, 0, N'')
INSERT [dbo].[BANGCHAMCONG] ([maBangChamCong], [maNhanVien], [thangChamCong], [namChamCong], [soNgayLamViec], [soNgayNghi], [soNgayTre], [soGioLamThem], [chiTiet]) VALUES (N'BCC12021004', N'004', 1, 2021, 29, 2, 2, 3, N'TC-12/1/2021-1,TC-13/1/2021-1,N-14/1/2021,TC-20/1/2021-1,T-21/1/2021,N-23/1/2021,T-29/1/2021,')
GO
INSERT [dbo].[BANGDANHGIA] ([maDanhGia], [maNhanVien], [nguoiDanhGia], [ngayDanhGia], [diemDanhGia], [xepLoaiDanhGia], [chiTietDanhGia], [loaiDanhGia], [ghiChu]) VALUES (N'DG00213052023069', N'002', N'069', CAST(N'2023-05-13' AS Date), 101, N'Giỏi', N'2,2,1,1,1,2,2,2,3,3,3,3,3,3,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3', N'Được đánh giá', N'')
INSERT [dbo].[BANGDANHGIA] ([maDanhGia], [maNhanVien], [nguoiDanhGia], [ngayDanhGia], [diemDanhGia], [xepLoaiDanhGia], [chiTietDanhGia], [loaiDanhGia], [ghiChu]) VALUES (N'DG0041492023069', N'004', N'069', CAST(N'2023-09-14' AS Date), 116, N'Xuất sắc', N'3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,2,2,2,3,3', N'Được đánh giá', N'')
INSERT [dbo].[BANGDANHGIA] ([maDanhGia], [maNhanVien], [nguoiDanhGia], [ngayDanhGia], [diemDanhGia], [xepLoaiDanhGia], [chiTietDanhGia], [loaiDanhGia], [ghiChu]) VALUES (N'DG0081392023008', N'008', N'008', CAST(N'2023-09-13' AS Date), 112, N'Xuất sắc', N'3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,2,2,2,2,2,2,2', N'Tự đánh giá', N'')
GO
INSERT [dbo].[BAOCAOTUYENDUNG] ([maTuyenDung], [chucVu], [hocVan], [yeuCauGioiTinh], [yeuCauDoTuoi], [soLuongCanTuyen], [hanNopHoSo], [mucLuongToiThieu], [mucLuongToiDa]) VALUES (N'BCT003', N'QTV Hệ thống', N'9/9', N'Nam', N'18-35', 20, CAST(N'2023-12-12' AS Date), 15000000, 20000000)
INSERT [dbo].[BAOCAOTUYENDUNG] ([maTuyenDung], [chucVu], [hocVan], [yeuCauGioiTinh], [yeuCauDoTuoi], [soLuongCanTuyen], [hanNopHoSo], [mucLuongToiThieu], [mucLuongToiDa]) VALUES (N'BCTD001', N'Chuyên viên SEO', N'12/12', N'Không', N'Không', 5, CAST(N'2023-04-23' AS Date), 10000000, 12000000)
INSERT [dbo].[BAOCAOTUYENDUNG] ([maTuyenDung], [chucVu], [hocVan], [yeuCauGioiTinh], [yeuCauDoTuoi], [soLuongCanTuyen], [hanNopHoSo], [mucLuongToiThieu], [mucLuongToiDa]) VALUES (N'BCTD002', N'Phó phòng', N'9/9', N'Không', N'18-35', 12, CAST(N'2022-12-12' AS Date), 10000000, 200000000)
GO
INSERT [dbo].[CHITIETNHOMQUYEN] ([maNhomQuyen], [maChucNang]) VALUES (N'ADMIN1', N'1')
INSERT [dbo].[CHITIETNHOMQUYEN] ([maNhomQuyen], [maChucNang]) VALUES (N'ADMIN1', N'10')
INSERT [dbo].[CHITIETNHOMQUYEN] ([maNhomQuyen], [maChucNang]) VALUES (N'ADMIN1', N'11')
GO
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'1', N'Xem thông tin cá nhân')
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'10', N'Thêm ứng viên')
INSERT [dbo].[CHUCNANG] ([maChucNang], [tenChucNang]) VALUES (N'11', N'Sửa xóa ứng viên')
GO
INSERT [dbo].[CHUCVU] ([maChucVu], [tenChucVu], [phuCapChucVu], [ngayNhanChuc]) VALUES (N'CV000', N'Phó phòng', 14, CAST(N'2023-03-10' AS Date))
INSERT [dbo].[CHUCVU] ([maChucVu], [tenChucVu], [phuCapChucVu], [ngayNhanChuc]) VALUES (N'CV001', N'Trưởng phòng', 16, CAST(N'2023-03-17' AS Date))
INSERT [dbo].[CHUCVU] ([maChucVu], [tenChucVu], [phuCapChucVu], [ngayNhanChuc]) VALUES (N'CV002', N'Phó phòng', 14, CAST(N'2023-03-22' AS Date))
GO
INSERT [dbo].[CMND] ([soCMND], [noiCap], [ngayCap]) VALUES (N'000000001', N'An Giang', CAST(N'2023-03-20' AS Date))
INSERT [dbo].[CMND] ([soCMND], [noiCap], [ngayCap]) VALUES (N'000000002', N'An Giang', CAST(N'2023-03-20' AS Date))
INSERT [dbo].[CMND] ([soCMND], [noiCap], [ngayCap]) VALUES (N'000000004', N'An Giang', CAST(N'2023-03-21' AS Date))
GO
INSERT [dbo].[CONNGUOI] ([CMND], [hoTen], [gioiTinh], [ngaySinh], [diaChi], [SDT], [danToc], [tonGiao], [email]) VALUES (N'000000001', N'Nguyễn Thị Mỹ Nương ', N'Nữ', CAST(N'2004-01-14' AS Date), N'90/A Nguyễn Thị Tú, Bình Hưng Hòa B, Bình Tân, TP.Hồ Chí Minh', N'01212121212', N'Không', N'Không', N'mynuong@gmail.com')
INSERT [dbo].[CONNGUOI] ([CMND], [hoTen], [gioiTinh], [ngaySinh], [diaChi], [SDT], [danToc], [tonGiao], [email]) VALUES (N'000000002', N'Võ Phát Thành ', N'Nam', CAST(N'2004-09-17' AS Date), N'12A Phước Thành, Vĩnh Bình, Châu Thành, An Giang', N'0932133144', N'Không', N'Không', N'thanhvo@gmail.com')
INSERT [dbo].[CONNGUOI] ([CMND], [hoTen], [gioiTinh], [ngaySinh], [diaChi], [SDT], [danToc], [tonGiao], [email]) VALUES (N'000000004', N'Nguyễn Thị Khánh Huyền ', N'Nữ', CAST(N'2004-03-21' AS Date), N'123 Nguyễn Văn Linh, Bình Hưng, Bình Chánh, TP.Hồ Chí Minh', N'0199199199', N'Không', N'Không', N'khanhhuyen@gmail.com')
GO
INSERT [dbo].[HOPDONGLAODONG] ([maHopDong], [tuNgay], [denNgay], [loaiHopDong], [luongCoBan]) VALUES (N'HD000', CAST(N'2021-03-08' AS Date), CAST(N'2024-03-08' AS Date), N'3 năm', 12600000)
INSERT [dbo].[HOPDONGLAODONG] ([maHopDong], [tuNgay], [denNgay], [loaiHopDong], [luongCoBan]) VALUES (N'HD002', CAST(N'2018-05-03' AS Date), CAST(N'2023-05-03' AS Date), N'5 năm', 18375000)
INSERT [dbo].[HOPDONGLAODONG] ([maHopDong], [tuNgay], [denNgay], [loaiHopDong], [luongCoBan]) VALUES (N'HD003', CAST(N'2022-03-09' AS Date), CAST(N'2024-03-09' AS Date), N'2 năm', 13370569)
GO
INSERT [dbo].[LUONG] ([maLuong], [maBangChamCong], [phuCapChucVu], [phuCapKhac], [luongThucTe], [luongThuong], [khoanTruBaoHiem], [khoanTruKhac], [thue], [thucLanh]) VALUES (N'L12021002', N'BCC12021002', 3809369, 0, 31526715, 0, 1632587, 0, 5175874, 28527623)
INSERT [dbo].[LUONG] ([maLuong], [maBangChamCong], [phuCapChucVu], [phuCapKhac], [luongThucTe], [luongThuong], [khoanTruBaoHiem], [khoanTruKhac], [thue], [thucLanh]) VALUES (N'L12021003', N'BCC12021003', 2139291, 0, 15941832, 0, 802234, 0, 1841833, 15437056)
INSERT [dbo].[LUONG] ([maLuong], [maBangChamCong], [phuCapChucVu], [phuCapKhac], [luongThucTe], [luongThuong], [khoanTruBaoHiem], [khoanTruKhac], [thue], [thucLanh]) VALUES (N'L12021004', N'BCC12021004', 1600000, 0, 11298077, 0, 600000, 0, 1844712, 10453365)
GO
INSERT [dbo].[NHANVIEN] ([maNhanVien], [CMND], [maPhong], [maTrinhDo], [maChucVu], [maHopDong], [ngayBatDauThuViec], [ngayKetThucThuViec], [luongThuViec], [trangThai]) VALUES (N'000', N'566666666', N'NC', N'TD000', N'CV000', N'HD000', NULL, NULL, 0, 0)
INSERT [dbo].[NHANVIEN] ([maNhanVien], [CMND], [maPhong], [maTrinhDo], [maChucVu], [maHopDong], [ngayBatDauThuViec], [ngayKetThucThuViec], [luongThuViec], [trangThai]) VALUES (N'002', N'181818181', N'NS', N'TD002', N'CV002', N'HD002', NULL, NULL, 0, 1)
INSERT [dbo].[NHANVIEN] ([maNhanVien], [CMND], [maPhong], [maTrinhDo], [maChucVu], [maHopDong], [ngayBatDauThuViec], [ngayKetThucThuViec], [luongThuViec], [trangThai]) VALUES (N'003', N'092211331', N'NS', N'TD003', N'CV003', N'HD003', NULL, NULL, 0, 1)
GO
INSERT [dbo].[NHOMQUYEN] ([maNhomQuyen], [tenNhomQuyen]) VALUES (N'ADMIN1', N'Quản trị viên 1')
INSERT [dbo].[NHOMQUYEN] ([maNhomQuyen], [tenNhomQuyen]) VALUES (N'ADMIN2', N'Quản trị viên 2')
INSERT [dbo].[NHOMQUYEN] ([maNhomQuyen], [tenNhomQuyen]) VALUES (N'NHANVIEN1', N'Nhân viên loại 1')
GO
INSERT [dbo].[PHONGBAN] ([maPhong], [tenPhong], [ngayThanhLap], [maTruongPhong]) VALUES (N'KD', N'Phòng kinh doanh', CAST(N'2023-03-09' AS Date), N'017')
INSERT [dbo].[PHONGBAN] ([maPhong], [tenPhong], [ngayThanhLap], [maTruongPhong]) VALUES (N'KTCN', N'Phòng kĩ thuật công nghệ', CAST(N'2008-09-22' AS Date), N'025')
INSERT [dbo].[PHONGBAN] ([maPhong], [tenPhong], [ngayThanhLap], [maTruongPhong]) VALUES (N'MKT', N'Phòng truyền thông marketing', CAST(N'2006-11-23' AS Date), NULL)
GO
INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'000', N'000', NULL, N'none_user.jpg')
INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'002', N'abc12345', N'ADMIN2', N'none_user.jpg')
INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'003', N'003', N'ADMIN2', N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'025', N'025', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'033', N'033', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'034', N'034', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'043', N'043', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'045', N'045', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'061', N'061', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'062', N'062', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'067', N'067', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'068', N'068', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'069', N'123123', N'ADMIN1', N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'070', N'070070', N'NHANVIEN1', N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'071', N'071', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'073', N'073', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'074', N'074', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'075', N'075', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'076', N'076', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'077', N'077', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'078', N'078', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'079', N'079', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'080', N'080', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'085', N'085', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'086', N'086', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'087', N'087', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'089', N'089', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'090', N'090', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'091', N'091', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'092', N'092', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'094', N'094', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'095', N'095', N'NHANVIEN2', N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'097', N'097', N'NHANVIEN1', N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'099', N'099', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'110', N'110', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'111', N'111', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'120', N'120', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'122', N'122', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'123', N'123', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'124', N'124', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'125', N'125', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'127', N'127', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'129', N'129', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'131', N'131', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'139', N'139', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'155', N'155', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'159', N'159', NULL, N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'222', N'222', N'ADMIN1', N'none_user.jpg')
-- INSERT [dbo].[TAIKHOAN] ([username], [pass], [maNhomQuyen], [avatar]) VALUES (N'229', N'229', NULL, N'none_user.jpg')
GO
INSERT [dbo].[THONGKE] ([maDonVi], [slnvNam1], [slnvNam2], [slnvNam3], [luongTbNam1], [luongTbNam2], [luongTbNam3]) VALUES (N'CONGTY', 36, 45, 46, 15000000, 16500000, 22000000)
INSERT [dbo].[THONGKE] ([maDonVi], [slnvNam1], [slnvNam2], [slnvNam3], [luongTbNam1], [luongTbNam2], [luongTbNam3]) VALUES (N'KD', 4, 5, 7, 14000000, 15500000, 21000000)
INSERT [dbo].[THONGKE] ([maDonVi], [slnvNam1], [slnvNam2], [slnvNam3], [luongTbNam1], [luongTbNam2], [luongTbNam3]) VALUES (N'KTCN', 6, 7, 9, 15000000, 16500000, 20000000)
GO
INSERT [dbo].[TRINHDO] ([maTrinhDo], [trinhDoHocVan], [trinhDoChuyenMon], [chuyenNganh]) VALUES (N'TD000', N'12/12', N'Kĩ sư', N'Kế toán')
INSERT [dbo].[TRINHDO] ([maTrinhDo], [trinhDoHocVan], [trinhDoChuyenMon], [chuyenNganh]) VALUES (N'TD001', N'12/12', N'Kĩ sư', N'Công nghệ thông tin')
INSERT [dbo].[TRINHDO] ([maTrinhDo], [trinhDoHocVan], [trinhDoChuyenMon], [chuyenNganh]) VALUES (N'TD002', N'12/12', N'Cử nhân', N'Kế toán')
GO
INSERT [dbo].[UNGVIEN] ([maTuyenDung], [maUngVien], [CMND], [mucLuongDeal], [maTrinhDo], [tenChucVu], [trangThai]) VALUES (N'BCTD002', N'001', N'001145676', 14000000, N'TDUV001', N'Phó phòng', N'Chưa tuyển')
INSERT [dbo].[UNGVIEN] ([maTuyenDung], [maUngVien], [CMND], [mucLuongDeal], [maTrinhDo], [tenChucVu], [trangThai]) VALUES (N'BCTD001', N'002', N'13132298', 11500000, N'TDUV002', N'Kĩ thuật viên', N'Đã tuyển')
INSERT [dbo].[UNGVIEN] ([maTuyenDung], [maUngVien], [CMND], [mucLuongDeal], [maTrinhDo], [tenChucVu], [trangThai]) VALUES (N'BCTD002', N'003', N'190976554', 17000000, N'TDUV003', N'Phó phòng', N'Chưa tuyển')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CHUCNANG]    Script Date: 16/04/2024 21:39:34 ******/
CREATE NONCLUSTERED INDEX [IX_CHUCNANG] ON [dbo].[CHUCNANG]
(
	[maChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGCHAMCONG]  WITH CHECK ADD  CONSTRAINT [fk_BANGCHAMCONG_NHANVIEN] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NHANVIEN] ([maNhanVien])
GO
ALTER TABLE [dbo].[BANGCHAMCONG] CHECK CONSTRAINT [fk_BANGCHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[BANGDANHGIA]  WITH CHECK ADD  CONSTRAINT [FK__BANGDANHG__luuDi__0880433F] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NHANVIEN] ([maNhanVien])
GO
ALTER TABLE [dbo].[BANGDANHGIA] CHECK CONSTRAINT [FK__BANGDANHG__luuDi__0880433F]
GO
ALTER TABLE [dbo].[BANGDANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGDANHGIA_NHANVIEN] FOREIGN KEY([nguoiDanhGia])
REFERENCES [dbo].[NHANVIEN] ([maNhanVien])
GO
ALTER TABLE [dbo].[BANGDANHGIA] CHECK CONSTRAINT [FK_BANGDANHGIA_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETNHOMQUYEN]  WITH CHECK ADD  CONSTRAINT [fk_CHITIETNHOMQUYEN_CHUCNANG] FOREIGN KEY([maChucNang])
REFERENCES [dbo].[CHUCNANG] ([maChucNang])
GO
ALTER TABLE [dbo].[CHITIETNHOMQUYEN] CHECK CONSTRAINT [fk_CHITIETNHOMQUYEN_CHUCNANG]
GO
ALTER TABLE [dbo].[CHITIETNHOMQUYEN]  WITH CHECK ADD  CONSTRAINT [fk_CHITIETNHOMQUYEN_NHOMQUYEN] FOREIGN KEY([maNhomQuyen])
REFERENCES [dbo].[NHOMQUYEN] ([maNhomQuyen])
GO
ALTER TABLE [dbo].[CHITIETNHOMQUYEN] CHECK CONSTRAINT [fk_CHITIETNHOMQUYEN_NHOMQUYEN]
GO
ALTER TABLE [dbo].[CONNGUOI]  WITH CHECK ADD  CONSTRAINT [fk_CONNGUOI_CMND] FOREIGN KEY([CMND])
REFERENCES [dbo].[CMND] ([soCMND])
GO
ALTER TABLE [dbo].[CONNGUOI] CHECK CONSTRAINT [fk_CONNGUOI_CMND]
GO
ALTER TABLE [dbo].[DOTTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [fk_DOTTUYENDUNG_BAOCAOTUYENDUNG] FOREIGN KEY([maTuyenDung])
REFERENCES [dbo].[BAOCAOTUYENDUNG] ([maTuyenDung])
GO
ALTER TABLE [dbo].[DOTTUYENDUNG] CHECK CONSTRAINT [fk_DOTTUYENDUNG_BAOCAOTUYENDUNG]
GO
ALTER TABLE [dbo].[DOTTUYENDUNG]  WITH CHECK ADD  CONSTRAINT [fk_DOTTUYENDUNG_NHANVIEN] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NHANVIEN] ([maNhanVien])
GO
ALTER TABLE [dbo].[DOTTUYENDUNG] CHECK CONSTRAINT [fk_DOTTUYENDUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD  CONSTRAINT [fk_LUONG_BANGCHAMCONG] FOREIGN KEY([maBangChamCong])
REFERENCES [dbo].[BANGCHAMCONG] ([maBangChamCong])
GO
ALTER TABLE [dbo].[LUONG] CHECK CONSTRAINT [fk_LUONG_BANGCHAMCONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NHANVIEN_CHUCVU] FOREIGN KEY([maChucVu])
REFERENCES [dbo].[CHUCVU] ([maChucVu])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NHANVIEN_CONNGUOI] FOREIGN KEY([CMND])
REFERENCES [dbo].[CONNGUOI] ([CMND])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NHANVIEN_CONNGUOI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NHANVIEN_HOPDONGLAODONG] FOREIGN KEY([maHopDong])
REFERENCES [dbo].[HOPDONGLAODONG] ([maHopDong])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NHANVIEN_HOPDONGLAODONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NHANVIEN_PHONGBAN] FOREIGN KEY([maPhong])
REFERENCES [dbo].[PHONGBAN] ([maPhong])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_NHANVIEN_TRINHDO] FOREIGN KEY([maTrinhDo])
REFERENCES [dbo].[TRINHDO] ([maTrinhDo])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_NHANVIEN_TRINHDO]
GO
ALTER TABLE [dbo].[PHONGBAN]  WITH CHECK ADD  CONSTRAINT [fk_PHONGBAN_NHANVIEN] FOREIGN KEY([maTruongPhong])
REFERENCES [dbo].[NHANVIEN] ([maNhanVien])
GO
ALTER TABLE [dbo].[PHONGBAN] CHECK CONSTRAINT [fk_PHONGBAN_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [fk_TAIKHOAN_NHANVIEN] FOREIGN KEY([username])
REFERENCES [dbo].[NHANVIEN] ([maNhanVien])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [fk_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [fk_TAIKHOAN_NHOMQUYEN] FOREIGN KEY([maNhomQuyen])
REFERENCES [dbo].[NHOMQUYEN] ([maNhomQuyen])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [fk_TAIKHOAN_NHOMQUYEN]
GO
ALTER TABLE [dbo].[UNGVIEN]  WITH CHECK ADD  CONSTRAINT [fk_UNGVIEN_BAOCAOTUYENDUNG] FOREIGN KEY([maTuyenDung])
REFERENCES [dbo].[BAOCAOTUYENDUNG] ([maTuyenDung])
GO
ALTER TABLE [dbo].[UNGVIEN] CHECK CONSTRAINT [fk_UNGVIEN_BAOCAOTUYENDUNG]
GO
ALTER TABLE [dbo].[UNGVIEN]  WITH CHECK ADD  CONSTRAINT [fk_UNGVIEN_CONNGUOI] FOREIGN KEY([CMND])
REFERENCES [dbo].[CONNGUOI] ([CMND])
GO
ALTER TABLE [dbo].[UNGVIEN] CHECK CONSTRAINT [fk_UNGVIEN_CONNGUOI]
GO
ALTER TABLE [dbo].[UNGVIEN]  WITH CHECK ADD  CONSTRAINT [fk_UNGVIEN_TRINHDO] FOREIGN KEY([maTrinhDo])
REFERENCES [dbo].[TRINHDO] ([maTrinhDo])
GO
ALTER TABLE [dbo].[UNGVIEN] CHECK CONSTRAINT [fk_UNGVIEN_TRINHDO]
GO
USE [master]
GO
